[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "==1.23.1"
streamlit-autorefresh = "==0.0.1"
river = "==0.17.0"
requests = "==2.31.0"
websocket-client = "==1.5.2"
loguru = "==0.7.0"
timeplus = "==1.2.1"
protobuf = "~=4.23.2"
rx = "==3.2.0"

[dev-packages]

[requires]
python_version = "3.9"
