[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "==1.12.2"
streamlit-autorefresh = "==0.0.1"
river = "==0.11.1"
requests = "==2.28.1"
websocket-client = "==1.4.0"
loguru = "==0.6.0"
Rx = "==3.2.0"
timeplus = "==0.2.0"
protobuf = "~=3.19.0"

[dev-packages]

[requires]
python_version = "3.9"
